name: build ios

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: |
        echo "GOOGLE_MAP_API_KEY=${{ secrets.GOOGLE_MAP_API_KEY }}" >> .env
      - run: flutter pub get
      - run: flutter build ios --release --no-codesign
        env:
          API_KEY: ${{ secrets.API_KEY }}
